.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s ease;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #000;
    border-radius: 25%;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }
    .nav-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .nav-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}